# Dependencies
node_modules/
.pnp.*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Outputs
dist/
dist-ssr/
build/
out/

# Logs & Diagnostic Data
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids/
*.pid
*.seed
*.pid.lock

# OS & Editor Files
.DS_Store
.vscode/
.idea/

# Testing & Coverage
coverage/
.nyc_output/
